*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el contenido del código compartido */

.video-body {
    position: relative;
    height: 100%;
}

.video-body video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-body .end-video-body {
    position: relative;
    z-index: 1;
}

/*-------- Maqueteo GRID --------*/
.header {grid-area: header;}
.main {grid-area: main;}
.footer {grid-area: footer;}

.contenedor {
    display: grid;
    grid-template-areas: 'header header'
                            'main main'
                        'footer footer';
    gap: 10px;
    width: 100%;
}

.dir-logo {
    display: flex;
    justify-content: center;
    background-color: rgba(5, 142, 19, 0.335);
}

.logoA {
    display: flex;
    width: 45%;
    margin: auto;
}

.header {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.main {
    display: flex;
    justify-content: space-around;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingresar-texto {
    background-color: rgba(23, 25, 23, 0.808);
    border-radius: 7px;
    border: solid  rgba(5, 142, 19, 0.635);
    font-size: x-large;
    color: rgb(240, 255, 241);
    display: flex;
    text-align: center;
    padding-top: 4%;
    margin-bottom: 6%;
    caret-color: rgb(4, 144, 29);
    text-transform: uppercase;
}

.info {
    font-size: large;
    color: rgb(220, 228, 72);
}

.dir-botones {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: space-around;
    margin-top: 15%;
}

.botones-E {
    display: flex;
    display: inline;
    width: 40%;
    height: 50%;
    border-color: rgba(5, 142, 19, 0.635);
    border-radius: 7px;
    background-color: rgba(23, 25, 23, 0.808);
    color: rgb(220, 228, 72);
    font-size: larger;
    cursor:pointer;
}

.botones-E:hover{
    background:  rgba(5, 142, 19, 0.635);
    transition: all 0.5s;
}

.botones-D {
    display: flex;
    display: inline;
    width: 40%;
    height: 50%;
    border-color: rgba(5, 142, 19, 0.635);;
    border-radius: 7px;
    background-color: rgba(23, 25, 23, 0.808);
    color: rgb(228, 15, 54);
    font-size: larger;
    cursor:pointer;
}

.botones-D:hover{
    background:  rgba(5, 142, 19, 0.635);
    transition: all 0.5s;
}

/* Area de Traducción */

.dir-desencriptador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-areatexto {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-codigo {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 100%;
    object-fit: cover;
    padding-left: 3px;
    border: solid  rgba(5, 142, 19, 0.635);
    border-radius: 7px;
}

.video-areatexto .end-video-areatexto {
    position: relative;
    z-index: 1;
}

.area-traduccion {
    position: relative;
    z-index: 1;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    border: solid  rgba(5, 142, 19, 0.635);
    font-size: larger;
    display: flex;
    text-align: center;
    padding-top: 10%;
    background-color: rgba(23, 25, 23, 0.396);
    color: rgb(253, 246, 39);
    font-size: x-large;
    text-transform: uppercase;
}

.boton-copiar {
    display: flex;
    display: inline;
    width: 50%;
    height: 8.5%;
    margin-top: 10%;
    border-color: rgba(5, 142, 19, 0.635);;
    border-radius: 7px;
    background-color: rgba(23, 25, 23, 0.808);
    color: rgb(220, 228, 72);
    font-size: larger;
    cursor:pointer;
}

.boton-copiar:hover{
    background:  rgba(5, 142, 19, 0.635);
    transition: all 0.5s;
}

.footer {
    display: flex;
    background-color: rgba(5, 142, 19, 0.335);
    height: 70px;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.copyright {
    display: flex;
    color: aliceblue;
    align-items: center;
    font-size: large;
}

/******* Respoinsive Tablet 768 *******/
@media screen and (min-width:684px) and (max-width:968px) {

    .contenedor {
        grid-template-areas: 'header'
                                'main'
                            'footer';
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
    }

    .dir-desencriptador {
        margin-bottom: 6%;
        }

    .video-areatexto {
        width: 80%;
        height: 74%;
    }

    .area-traduccion {
        width: 100%;
        height: 100%;
        padding-top: 3%;
    }

    .boton-copiar {
        width: 20%;
        margin-top: 5%;
    }

    .dir-ingreso-texto {
        width: 75%;
        height: 80%;
    }

    .ingresar-texto {
        width: 100%;
        height: 100%;
    }

    .info {
        margin: 1%;
    }

    .dir-botones {
        align-content: center;
        margin-top: 0%;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .botones-E {
        width: 22%;
        height: 40px;
        margin-right: 3%;
    }

    .botones-D {
        width: 22%;
        height: 40px;
        margin-left: 3%;
    }

    .footer {
        margin-top: 10%;
    }

}

/******* Respoinsive Movil 200 *******/
@media screen and (min-width:200px) and (max-width:683px){

    .videofondo {
        display: none;
        
    }

    .body {
        background-image: url(/img/Matrix-1.jpg);
        background-size: contain;
        background-position: center center;
    }

    .main {
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;
    }

    .dir-desencriptador {
        width: 90%;
        height: 30%;
        margin-top: 13%;
        }

    .area-traduccion {
        width: 100%;
        height: 100%;
    }

    .boton-copiar {
        width: 38%;
        height: 12%;
        text-align: center;
    }

    .formulario {
        width: 100%;
        justify-content: center;
        align-content: center;
    }

    .dir-ingreso-texto {
        width: 100%;
    }

    .ingresar-texto {
        width: 90%;
        height: 85%;
        margin-bottom: 0%;
        margin-left: 5%;
    }

    .info {
        display: flex;
        text-align: center;
    }

    .dir-botones {
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
        justify-items: center;
    }

    .botones-E {
        width: 34%;
        height: 190px;
        margin: 3%;
        text-align: center;
    }

    .botones-D {
        width: 34%;
        height: 190px;
        text-align: center;
    }
}